body {
background-color: DC94A4;
color: #340913;
font-family: Georgia, serif;
}

h1 {
font-family:"Trebuchet MS", Helvetica, sans-serif;
text-align: center;
padding: 10px;
}
ul {
 list-style-type: disc;
}
li{
  margin: 10px 0px 0px 0px; 
}
p{
 text-align: justify;
}
h3{
 text-transform:capitalize;
 text-decoration: underline;
 color: white; 
}
th{
 text.transform: uppercase;
 letter-spacing: .1em;
 font-size: 85%;
 border-right:2px solid #000000
}
